@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif;
}

section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #efe7da;
  padding: 0 8px;
  transition: all 0.2s ease-in-out;
}
section.dark {
  background: #191919;
}

section .container {
  display: flex;
  justify-content: center;
  height: 220px;
  max-width: 560px;
  width: 100%;
  background: #fef9ef;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  position: relative;
}
section.dark .container {
  background: #202023;
}

section .container .icons i {
  position: absolute;
  right: 15px;
  top: 15px;
  height: 30px;
  width: 30px;
  background: #202023;
  color: #fff;
  text-align: center;
  line-height: 30px;
  border-radius: 8px;
  font-size: 13px;
  cursor: pointer;
}
section.dark .container .icons i {
  background: #ffcb77;
  color: #000;
}
.container .icons i.fa-sun {
  opacity: 0;
  pointer-events: none;
}
section.dark .container .icons i.fa-sun {
  opacity: 1;
  pointer-events: auto;
  font-size: 16px;
}

section .container .time {
  display: flex;
  align-items: center;
}

.container .time .time__colon {
  display: flex;
  align-items: center;
  position: relative;
}

.time .time__colon .am-pm {
  position: absolute;
  top: -10px;
  right: -45px;
  font-size: 20px;
  font-weight: 700;
}
section.dark .time .time__colon .am-pm {
  color: #fff;
}
.time .time__colon .time__text {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background: #ffcb77;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
section.dark .time .time__colon .time__text {
  background: #191919;
}
.time .time__colon .time__text,
.time .time__colon .colon {
  font-size: 35px;
  font-weight: 600;
}
section.dark .time .time__colon .time__text,
section.dark .time .time__colon .colon {
  color: #fff;
}
.time .time__colon .colon {
  font-size: 40px;
  margin: 0 15px;
}
.time .time__colon .time__text .text {
  font-size: 14px;
  font-weight: 700;
}
